csrc
simv.daidir
verdiLog
stack.info.*
*.jou
*.log
*.str
*.fsdb
*.key
*.db
*.shm
*.run
*.history
simv
novas.*
*.rc
vc_hdrs.h
.nfs*
*.vdb
urgReport
vdCovLog
.fsm.sch.verilog.xml
*.fsdb.*
*.o
*.tdb
*.zip
vp_syn*
cmodel/cmodel
.vscode
build
**/core.[0-9]*
*.err
xcelium.d
.bpad
cmodel/SPM_*.txt
cmodel/SPM_*.mem
spm_out.mem
spm_out_model.mem
syn
synthesis
vrf_dump
**/sim/vp/top/[0-9][0-9,A-Z,a-z]*
**/sim/vp/top/[0-9]
*_bak
diag_dir

vivado_prj/*.cache
vivado_prj/*.gen
vivado_prj/*.hw
vivado_prj/*.ip_user_files
vivado_prj/*.runs
vivado_prj/*.sim